p,
.text {
  font-size: rem(20px);
  letter-spacing: rem(-0.48px);
  margin-top: 0;
  margin-bottom: rem(20px);
}

.text--large {
  font-size: rem(24px);
}

.text--light {
  color: $colour--text--light;
}

.text--white {
  color: $colour--white;
}

.text--light-white {
  color: $colour--white--light;
}
