h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: rem(86px);
  line-height: rem(96px);
  font-weight: $weight--medium;
  letter-spacing: rem(-3.52px);
}

h2 {
  font-size: rem(76px);
  font-weight: $weight--regular;
  letter-spacing: rem(-1.92px);
}

h3 {
  font-size: rem(32px);
  line-height: rem(40px);
  letter-spacing: rem(-0.64px);
}
