$media-breakpoints: (
  mobile:         375px,
  landscape:      480px,
  tablet:         768px,
  tablet-wide:    1024px,
  desktop:        1280px,
  wide:           1440px,
  really-wide:    1680px,
  huge:           1920px,
)
