.c-key-speakers {
  &__wrapper {
    display: grid;
    grid-template-columns: rem(515px) auto;
    column-gap: rem(64px);
  }

  &__heading {
    margin-bottom: rem(48px);
  }

  &__left {
    align-self: center;
  }

  &__session {
    display: block;
    background-color: black;
    border-radius: rem(10px);
    overflow: hidden;

    &__details {
      height: rem(98px);
      padding: rem(32px) rem(24px);
      background-color: $colour--blue;
    }

    &__image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(353px);
      overflow: hidden;

      & > img {
        max-width: 100%;
        height: auto;
      }
    }

    &__text {
      font-size: rem(32px);
      letter-spacing: rem(.64px);
      font-weight: $weight--medium;
      margin-bottom: 0;
    }
  }

  &__speaker {
    list-style-type: none;

    &:not(:first-child) {
      border-top: 1px solid $colour--text;
    }

    &:first-child {
      .c-key-speakers__speaker__wrapper {
        padding-top: 0;
      }
    }

    &:last-child {
      .c-key-speakers__speaker__wrapper {
        padding-bottom: 0;
      }
    }

    &__wrapper {
      display: block;
      padding: rem(48px) 0;
      cursor: inherit;
    }

    &__title {
      font-size: rem(48px);
    }
  }
}
