@use 'node_modules/sass-mq/mq' with ($breakpoints: $media-breakpoints);

.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(20px);
  max-width: rem(1440px);

  @include mq.mq($from: tablet, $until: wide) {
    padding: 0 rem(40px);
  };

  @include mq.mq($from: wide) {
    padding: 0 rem(80px);
  };
}
